* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
  height: 300vh;
}

nav {
  font-size: 2rem;
  color: rgb(227, 0, 22);
  height: 9rem;
  z-index: 20;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
}
nav .nav-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}
nav .nav-buttons a {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
nav .nav-buttons .href-contener {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}
nav .nav-buttons .selected::after {
  content: "";
  position: absolute;
  display: block;
  left: 5%;
  top: 120%;
  z-index: 1;
  height: 3px;
  width: 90%;
  border-radius: 20px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
  background-color: rgb(227, 0, 22);
  transform: scaleX(1);
}
nav .nav-buttons .href-contener:after {
  content: "";
  position: absolute;
  display: block;
  left: 5%;
  top: 120%;
  z-index: 1;
  height: 3px;
  width: 90%;
  border-radius: 20px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
  background-color: rgb(227, 0, 22);
}
nav .nav-buttons .href-contener:hover::after {
  transform: scaleX(1);
}
nav .nav-buttons i {
  display: none;
}
nav img {
  position: absolute;
  height: 50px;
  left: 0;
  top: 0;
  margin-top: 2rem;
  margin-left: 2rem;
}
nav .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
  nav {
    justify-content: center;
    height: auto;
  }
  nav .nav-buttons {
    margin-top: 6.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  nav .nav-buttons a {
    padding-top: 15px;
    display: block;
  }
  nav .nav-buttons .selected::after {
    top: 105%;
  }
  nav .nav-buttons .href-contener:after {
    display: none;
  }
  nav .nav-buttons .href-contener:after:hover {
    display: none;
  }
  nav .nav-buttons i {
    display: block;
    position: absolute;
    right: 5rem;
    top: 3rem;
    font-size: 3.5rem;
  }
  nav .mob-hidden a {
    display: none;
  }
}
@media (min-width: 1400px) {
  nav {
    padding-right: 10vw;
  }
  nav img {
    padding-left: 10vw;
  }
}
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-top {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero .hero-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-content button {
  margin-top: 20px;
  border-radius: 10px;
  width: auto;
  padding: 15px;
  background-color: transparent;
  border: 4px solid rgb(227, 0, 22);
  font-size: 3.5rem;
  color: #f8f9fa;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.hero .hero-content button:hover {
  background-color: rgba(227, 0, 22, 0.6);
}
.hero .hero-shadow {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.hero .hero-1 {
  position: absolute;
  background-image: url(../img/Hero/1.JPG);
  animation: hero-animation 30s linear 0s infinite;
  z-index: -2;
}
.hero .hero-2 {
  position: absolute;
  background-image: url(../img/Hero/2.JPG);
  animation: hero-animation 30s linear 3.75s infinite;
  z-index: -3;
}
.hero .hero-3 {
  position: absolute;
  background-image: url(../img/Hero/3.JPG);
  animation: hero-animation 30s linear 7.5s infinite;
  z-index: -4;
}
.hero .hero-4 {
  position: absolute;
  background-image: url(../img/Hero/4.JPG);
  animation: hero-animation 30s linear 11.25s infinite;
  z-index: -5;
}
.hero .hero-5 {
  position: absolute;
  background-image: url(../img/Hero/5.JPG);
  animation: hero-animation 30s linear 15s infinite;
  z-index: -6;
}
.hero .hero-6 {
  position: absolute;
  background-image: url(../img/Hero/6.JPG);
  animation: hero-animation 30s linear 18.75s infinite;
  z-index: -7;
}
.hero .hero-7 {
  position: absolute;
  background-image: url(../img/Hero/7.JPG);
  animation: hero-animation 30s linear 22.5s infinite;
  z-index: -8;
}
.hero .hero-8 {
  position: absolute;
  background-image: url(../img/Hero/8.JPG);
  animation: hero-animation 30s linear 26.25s infinite;
  z-index: -9;
}
.hero img {
  z-index: 5;
}

@keyframes hero-animation {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info {
  font-size: 2rem;
  margin: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}
.info .info-img-container img {
  position: relative;
  height: 400px;
  z-index: 1;
  box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.5);
}
.info .info-img-container .img-box {
  position: relative;
  background-color: rgb(227, 0, 22);
  height: 100%;
  width: 100%;
  transform: translate(-3%, -103%);
}
.info .info-text {
  margin-left: 30px;
  color: #666666;
}
.info .info-text h1 {
  color: rgb(227, 0, 22);
}

/*# sourceMappingURL=style.css.map */
