* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  height: 300vh;
}

nav {
  font-size: 2rem;
  color: rgb(227, 0, 22);
  height: 9rem;
  z-index: 20;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
}
nav .nav-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}
nav .nav-buttons a {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
nav .nav-buttons .href-contener {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}
nav .nav-buttons .selected::after {
  content: "";
  position: absolute;
  display: block;
  left: 5%;
  top: 120%;
  z-index: 1;
  height: 3px;
  width: 90%;
  border-radius: 20px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
  background-color: rgb(227, 0, 22);
  transform: scaleX(1);
}
nav .nav-buttons .href-contener:after {
  content: "";
  position: absolute;
  display: block;
  left: 5%;
  top: 120%;
  z-index: 1;
  height: 3px;
  width: 90%;
  border-radius: 20px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
  background-color: rgb(227, 0, 22);
}
nav .nav-buttons .href-contener:hover::after {
  transform: scaleX(1);
}
nav .nav-buttons i {
  display: none;
}
nav img {
  position: absolute;
  height: 50px;
  left: 0;
  top: 0;
  margin-top: 2rem;
  margin-left: 2rem;
}
nav .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
  nav {
    justify-content: center;
    height: auto;
  }
  nav .nav-buttons {
    margin-top: 6.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  nav .nav-buttons a {
    padding-top: 15px;
    display: block;
  }
  nav .nav-buttons .selected::after {
    top: 105%;
  }
  nav .nav-buttons .href-contener:after {
    display: none;
  }
  nav .nav-buttons .href-contener:after:hover {
    display: none;
  }
  nav .nav-buttons i {
    display: block;
    position: absolute;
    right: 5rem;
    top: 3rem;
    font-size: 3.5rem;
  }
  nav .mob-hidden a {
    display: none;
  }
}
@media (min-width: 1400px) {
  nav {
    padding-right: 10vw;
  }
  nav img {
    padding-left: 10vw;
  }
}
.hero {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-shadow {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.hero .hero-top {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero .hero-1 {
  position: absolute;
  background-image: url(../img/Hero/1.JPG);
  animation: hero-animation 20s linear 0s infinite;
  z-index: -2;
}
.hero .hero-2 {
  position: absolute;
  background-image: url(../img/Hero/2.JPG);
  animation: hero-animation 20s linear 5s infinite;
  z-index: -3;
}
.hero .hero-3 {
  position: absolute;
  background-image: url(../img/Hero/3.JPG);
  animation: hero-animation 20s linear 10s infinite;
  z-index: -4;
}
.hero .hero-4 {
  position: absolute;
  background-image: url(../img/Hero/4.JPG);
  animation: hero-animation 20s linear 15s infinite;
  z-index: -5;
}
.hero img {
  z-index: 5;
}

@keyframes hero-animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
