.hero {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-shadow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
  }
  .hero-top {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .hero-1 {
    position: absolute;
    background-image: url(../img/Hero/1.JPG);
    animation: hero-animation 30s linear 0s infinite;
    z-index: -2;
  }
  .hero-2 {
    position: absolute;
    background-image: url(../img/Hero/2.JPG);
    animation: hero-animation 30s linear 3.75s infinite;
    z-index: -3;
  }
  .hero-3 {
    position: absolute;
    background-image: url(../img/Hero/3.JPG);
    animation: hero-animation 30s linear 7.5s infinite;
    z-index: -4;
  }
  .hero-4 {
    position: absolute;
    background-image: url(../img/Hero/4.JPG);
    animation: hero-animation 30s linear 11.25s infinite;
    z-index: -5;
  }
  .hero-5 {
    position: absolute;
    background-image: url(../img/Hero/5.JPG);
    animation: hero-animation 30s linear 15s infinite;
    z-index: -6;
  }
  .hero-6 {
    position: absolute;
    background-image: url(../img/Hero/6.JPG);
    animation: hero-animation 30s linear 18.75s infinite;
    z-index: -7;
  }
  .hero-7 {
    position: absolute;
    background-image: url(../img/Hero/7.JPG);
    animation: hero-animation 30s linear 22.5s infinite;
    z-index: -8;
  }
  .hero-8 {
    position: absolute;
    background-image: url(../img/Hero/8.JPG);
    animation: hero-animation 30s linear 26.25s infinite;
    z-index: -9;
  }
  img {
    z-index: 5;
  }
}

@keyframes hero-animation {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
