#rooms {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $dark-red;
    margin-bottom: 20px;
  }
  .room-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .room {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 22vw;
    width: 95%;
    box-shadow: 5px 5px 20px 3px rgba($color: #000000, $alpha: 0.5);
    .room-info {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: $dark-red;
      opacity: 0;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: $light;
      }
      button {
        height: 15%;
        margin: auto;
        width: 40%;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .room1 {
    background-image: url(../img/Rooms/1P_1.jpg);
  }
  .room2 {
    background-image: url(../img/Rooms/2P_1.jpg);
  }
  .room3 {
    background-image: url(../img/Rooms//LUX_1.jpg);
  }
}

@media (max-width: 992px) {
  #rooms {
    flex-direction: column;
    .room {
      height: 350px;
    }
  }
}

@keyframes room-animation {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.qt-background {
  background: url(../img/Rooms/hero.jpg) no-repeat;
  background-size: cover;
  padding: 150px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.qt-background p {
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 44px;
  color: $primary-color;
  text-align: center;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
