// Colors
$primary-color: rgb(227, 0, 22);
$secondary-color: rgb(60, 60, 60); // Fonts
// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

// Body tmp
body {
  background-color: lightblue;
  height: 300vh;
}

@import "./nav.scss";
