// Colors
$primary-color: rgb(227, 0, 22);
$secondary-color: #666666;
$dark-red: #550500;
$light: #f8f9fa;

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}

// Body tmp
body {
  background-color: $light;
  height: 300vh;
}

// flower separator
.flower {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  img {
    height: 80px;
  }
}

@import "./nav.scss";
@import "./hero.scss";
@import "./info.scss";
@import "./rooms.scss";

.qt-background {
  background: url(../img/Rooms/hero.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.qt-background p {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 44px;
  color: $primary-color;
  font-family: "Arbutus Slab", serif;
  margin-bottom: 20px;
  text-align: center;
}

.qt-background span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
