// Colors
$primary-color: rgb(227, 0, 22);
$secondary-color: #666666;
$dark-red: #550500;
$light: #f8f9fa;

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}

// Body tmp
body {
  background-color: $light;
  height: 300vh;
}

// flower separator
.flower {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px;
  img {
    height: 80px;
  }
}

@import "./nav.scss";
@import "./hero.scss";
@import "./info.scss";
@import "./rooms.scss";
